files/DTD/PRODEP.dtd

<!ELEMENT cvu (Identificacion, EstudiosRealizados, DatosLaborales, AreaDiscipinaActual, Produccion?, Docencia?, Tutorias?, DireccionIndividualizada?, GestionAcademica, LineaGAC?, BeneficiosExternos?, ProyectosDeInvestigacion?, BeneficiosPROMEP?, CuerpoAcademico, ProgramasEducativos?)>

<!-- Identificación -->
<!ELEMENT Identificacion (Nombre, Genero, RFC, CURP, NacidoEn, FechaNacimiento, IES)>
<!ELEMENT Nombre (#PCDATA)>
<!ELEMENT Genero (#PCDATA)>
<!ELEMENT RFC (#PCDATA)>
<!ELEMENT CURP (#PCDATA)>
<!ELEMENT NacidoEn (#PCDATA)>
<!ELEMENT FechaNacimiento (#PCDATA)>
<!ELEMENT IES (#PCDATA)>

<!-- Estudios Realizados -->
<!ELEMENT EstudiosRealizados (Estudio+)>
<!ELEMENT Estudio (Nivel, EstudiosEn, AreDisciplina, Institucion, Pais, FechaInicio, FechaFin, FechaTitulo)>
<!ELEMENT Nivel (#PCDATA)>
<!ELEMENT EstudiosEn (#PCDATA)>
<!ELEMENT AreDisciplina (#PCDATA)>
<!ELEMENT Institucion (#PCDATA)>
<!ELEMENT FechaInicio (#PCDATA)>
<!ELEMENT FechaFin (#PCDATA)>
<!ELEMENT FechaTitulo (#PCDATA)>

<!-- Datos Laborales -->
<!ELEMENT DatosLaborales (Trabajo*)>
<!ELEMENT Trabajo (Nombramiento, TipoNombramiento, Dedicacion, Institucion, Dependencia, UnidadAcademica, InicioContrato, FinContrato?, Cronologia)>
<!ELEMENT Nombramiento (#PCDATA)>
<!ELEMENT TipoNombramiento (#PCDATA)>
<!ELEMENT Dedicacion (#PCDATA)>
<!ELEMENT Dependencia (#PCDATA)>
<!ELEMENT UnidadAcademica (#PCDATA)>
<!ELEMENT InicioContrato (#PCDATA)>
<!ELEMENT FinContrato (#PCDATA)>
<!ELEMENT Cronologia (#PCDATA)>

<!-- Área Disciplinar Actual -->
<!ELEMENT AreaDiscipinaActual (Area, Disciplina)>
<!ELEMENT Area (#PCDATA)>
<!ELEMENT Disciplina (#PCDATA)>

<!-- Producción (vacío en el XSD) -->
<!ELEMENT Produccion EMPTY>

<!-- Docencia -->
<!ELEMENT Docencia (Curso*)>
<!ELEMENT Curso (Nombre, IES, DES, ProgramaEducativo, Nivel, FechaInicio, NoAlumnos, Semanas, HorasPorMes, HorasPorSemana)>
<!ELEMENT DES (#PCDATA)>
<!ELEMENT ProgramaEducativo (#PCDATA)>
<!ELEMENT NoAlumnos (#PCDATA)>
<!ELEMENT Semanas (#PCDATA)>
<!ELEMENT HorasPorMes (#PCDATA)>
<!ELEMENT HorasPorSemana (#PCDATA)>

<!-- Tutorías -->
<!ELEMENT Tutorias (Tutoria*)>
<!ELEMENT Tutoria (Tutoria, NoEstudiantes, Nivel, ProgramaEducativo, FechaInicio, FechaTermino, TipoTutelaje, EstadoTutelaje)>
<!ELEMENT NoEstudiantes (#PCDATA)>
<!ELEMENT TipoTutelaje (#PCDATA)>
<!ELEMENT EstadoTutelaje (#PCDATA)>

<!-- Dirección Individualizada -->
<!ELEMENT DireccionIndividualizada (Proyecto*)>
<!ELEMENT Proyecto (Titulo, Grado, FechaInicio, FechaTermino, NoAlumnos, EstadoDeDireccion, ConsiderarEnElCurriculum, Miembros, LGACs)>
<!ELEMENT EstadoDeDireccion (#PCDATA)>
<!ELEMENT ConsiderarEnElCurriculum (#PCDATA)>
<!ELEMENT Miembros (#PCDATA)>
<!ELEMENT LGACs (#PCDATA)>

<!-- Gestión Académica -->
<!ELEMENT GestionAcademica (Gestion)>
<!ELEMENT Gestion (Tipo, Cargo, Funcion, OrganoPresentado, Aprobado, Resultados, Estado, FechaInicio, FechaTermino, FechaDeUltimoInforme, HorasPorSemana)>
<!ELEMENT Cargo (#PCDATA)>
<!ELEMENT Funcion (#PCDATA)>
<!ELEMENT OrganoPresentado (#PCDATA)>
<!ELEMENT Aprobado (#PCDATA)>
<!ELEMENT Resultados (#PCDATA)>
<!ELEMENT FechaDeUltimoInforme (#PCDATA)>

<!-- Línea GAC -->
<!ELEMENT LineaGAC (Linea*)>
<!ELEMENT Linea (Linea, ActividadesRealiza, HorasPorSemana)>
<!ELEMENT ActividadesRealiza (#PCDATA)>

<!-- Beneficios Externos -->
<!ELEMENT BeneficiosExternos (BeneficioExterno*)>
<!ELEMENT BeneficioExterno (Tipo, Nivel, FechaInicial, FechaFinal, Monto)>
<!ELEMENT Monto (#PCDATA)>

<!-- Proyectos de Investigación -->
<!ELEMENT ProyectosDeInvestigacion (Proyecto*)>
<!ELEMENT Proyecto (Titulo, NombrePatrocinador, FechaInicio, FechaFin, TipoPatrocinador, Investigadores, AlumnosParticipantes, ActividadesRealizadas, ConsiderarEnElCurriculum, Miembros, LGACs)>
<!ELEMENT NombrePatrocinador (#PCDATA)>
<!ELEMENT TipoPatrocinador (#PCDATA)>
<!ELEMENT Investigadores (#PCDATA)>
<!ELEMENT AlumnosParticipantes (#PCDATA)>
<!ELEMENT ActividadesRealizadas (#PCDATA)>

<!-- Beneficios PROMEP -->
<!ELEMENT BeneficiosPROMEP (BeneficioPROMEP*)>
<!ELEMENT BeneficioPROMEP (IES, Solicitud, Vigencia, Estado)>
<!ELEMENT Solicitud (#PCDATA)>
<!ELEMENT Vigencia EMPTY>
<!ATTLIST Vigencia Inicio CDATA #REQUIRED
                  Fin CDATA #REQUIRED>

<!-- Cuerpo Académico -->
<!ELEMENT CuerpoAcademico (Nombre, Clave, GradoDeConsolidacion, LineasQueCultivaElCuerpo)>
<!ELEMENT Clave (#PCDATA)>
<!ELEMENT GradoDeConsolidacion (#PCDATA)>
<!ELEMENT LineasQueCultivaElCuerpo (#PCDATA)>

<!-- Programas Educativos -->
<!ELEMENT ProgramasEducativos (Programa*)>
<!ELEMENT Programa (PorgramaEducativo, Fecha, TipoDeActualizacion)>
<!ELEMENT PorgramaEducativo (#PCDATA)>
<!ELEMENT TipoDeActualizacion (#PCDATA)>

<!-- Tipos para producción académica (no referenciados directamente en el elemento raíz) -->
<!ELEMENT ArticuloRevista (Autores, Titulo, Descripcion, EstadoActual, Pais, NombreRevista, Editorial, DeLaPagina, ALaPagina, Volumen, IndiceDeRegistro, ISSN, Anio, DireccionAlArticulo, Proposito, ConsiderarEnElCurriculum, Miembros, LGACS)>
<!ELEMENT Descripcion (#PCDATA)>
<!ELEMENT EstadoActual (#PCDATA)>
<!ELEMENT NombreRevista (#PCDATA)>
<!ELEMENT DeLaPagina (#PCDATA)>
<!ELEMENT ALaPagina (#PCDATA)>
<!ELEMENT Volumen (#PCDATA)>
<!ELEMENT IndiceDeRegistro (#PCDATA)>
<!ELEMENT Anio (#PCDATA)>
<!ELEMENT DireccionAlArticulo (#PCDATA)>
<!ELEMENT Proposito (#PCDATA)>
<!ELEMENT LGACS (#PCDATA)>

<!ELEMENT ArticuloArbitrado (Autores, Titulo, EstadoActual, Pais, NombreRevista, Editorial, Volumen, ISSN, Anio, Proposito, ConsiderarEnElCurriculum, Miembros, LGACS)>

<!ELEMENT Capitulo (Autores, Titulo, EstadoActual, Pais, Editorial, Edicion, Tiraje, ISBN, Anio, Proposito)>
<!ELEMENT Edicion (#PCDATA)>
<!ELEMENT Tiraje (#PCDATA)>

<!ELEMENT Memoria (Autores, Titulo, NombreCongreso, Pais, Estado, Ciudad, Anio, DeLaPagina, ALaPagina, EstadoActual, Proposito, ConsiderarEnElCurriculum, LGACS)>
<!ELEMENT NombreCongreso (#PCDATA)>
<!ELEMENT Ciudad (#PCDATA)>