files/DTD/TecNM.dtd

<!ELEMENT cvu (DatosPersonales, Contacto?, AdscripcionesTecNM, TitulosAcademicos, ProductividadAcademica)>

<!-- Datos Personales -->
<!ELEMENT DatosPersonales (Nombre, Genero, CURP, RFC, FechaNacimiento, PaisNacimiento, ResumenBibliografico)>
<!ELEMENT Nombre (#PCDATA)>
<!ELEMENT Genero (#PCDATA)>
<!ELEMENT CURP (#PCDATA)>
<!ELEMENT RFC (#PCDATA)>
<!ELEMENT FechaNacimiento (#PCDATA)>
<!ELEMENT PaisNacimiento (#PCDATA)>
<!ELEMENT ResumenBibliografico (#PCDATA)>

<!-- Contacto -->
<!ELEMENT Contacto (Telefono*, Correo)>
<!ELEMENT Telefono (#PCDATA)>
<!ELEMENT Correo (#PCDATA)>
<!ATTLIST Correo Tipo (Institucional|Personal) #REQUIRED>

<!-- Adscripciones TecNM -->
<!ELEMENT AdscripcionesTecNM (Adscripcion+)>
<!ELEMENT Adscripcion (Institución, Puesto, Departamento, Vigencia)>
<!ELEMENT Institución (#PCDATA)>
<!ELEMENT Puesto (#PCDATA)>
<!ELEMENT Departamento (#PCDATA)>
<!ELEMENT Vigencia EMPTY>
<!ATTLIST Vigencia FechaInicio CDATA #REQUIRED
                  FechaFin CDATA #IMPLIED>

<!-- Títulos Académicos -->
<!ELEMENT TitulosAcademicos (FechaObtencion, Titulo, Cedula, LugarDeEstudios)>
<!ATTLIST TitulosAcademicos Tipo (LICENCIATURA|MAESTRÍA|DOCTORADO) #REQUIRED>
<!ELEMENT FechaObtencion (#PCDATA)>
<!ELEMENT Titulo (#PCDATA)>
<!ELEMENT Cedula (#PCDATA)>
<!ELEMENT LugarDeEstudios (#PCDATA)>

<!-- Productividad Académica -->
<!ELEMENT ProductividadAcademica (Articulos?, Capitulos?, TesisDirigida?, Otros?)>
<!ELEMENT Articulos (Articulo*)>
<!ELEMENT Capitulos (Capitulo*)>
<!ELEMENT TesisDirigida (Tesis*)>
<!ELEMENT Otros (Otro*)>

<!-- Artículos -->
<!ELEMENT Articulo (Titulo, Autores, Resumen, Revista, Proposito, SectorDisciplina)>
<!ELEMENT Titulo (#PCDATA)>
<!ELEMENT Autores (Autor+)>
<!ELEMENT Autor (Nombre, Apellido?)>
<!ELEMENT Apellido (#PCDATA)>
<!ELEMENT Resumen (#PCDATA)>
<!ELEMENT Revista (Titulo, Paginas?, Pais, ISSN?, DireccionElectronica)>
<!ELEMENT Paginas (#PCDATA)>
<!ELEMENT ISSN (#PCDATA)>
<!ELEMENT DireccionElectronica (#PCDATA)>
<!ELEMENT Proposito (#PCDATA)>
<!ELEMENT SectorDisciplina (#PCDATA)>

<!-- Capítulos -->
<!ELEMENT Capitulo (Titulo, Autores, Resumen, Libro, Proposito, SectorDisciplina)>
<!ELEMENT Libro (Titulo, Paginas?, Pais, ISBN)>
<!ELEMENT ISBN (#PCDATA)>

<!-- Tesis -->
<!ELEMENT Tesis (Titulo, Autores, Resumen, PublicadoEn, Proposito, SectorDisciplina)>
<!ELEMENT PublicadoEn (#PCDATA)>

<!-- Otros (usa la misma estructura que Tesis) -->
<!ELEMENT Otro (Titulo, Autores, Resumen, PublicadoEn, Proposito, SectorDisciplina)>